.git
*.tar.gz
*.tmp
*~
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
configure
depcomp
m4/*
CVS
compile
config.guess
config.sub
install-sh
ltmain.sh
missing
*.orig
*.rej
.deps/
Makefile
config.h
config.log
config.status
libtool
stamp-h1
ev.3
